<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analysis (Get Data)</title>
    <script src="../static/tailwind.config.js"></script>
    <link rel="stylesheet" href="../static/output/style.css">
</head>
<body>
    <h2 class="header">Sentiment Analysis Pemilihan Calon Presiden 2024</h2>
    
    <ul>
        <li>Get Data</li>
        <li>Train</li>
        <li>Test</li>
    </ul>

    <p>Klik tombol dibawah ini untuk mendownload file twitter capres</p>

    <Button name="submitCsv">Csv</Button>
    <Button name="submitXls">Excel</Button>
</body>
</html>