{% with judul="Get Data" %}
    {% include "component/header.html" %}
{% endwith %}
    <body>

        {% include "component/navbar.html" %}

        <h2>Sentiment Analysis Pemilihan Calon Presiden 2024</h2>

        <p>Klik tombol dibawah ini untuk mendownload file twitter capres</p>

        <form action="/scrap" method="post">
            <select name="name">
                <option value="">Pilih Calon</option>
                <option value="Ganjar Pranowo">Ganjar Pranowo</option>
                <option value="Anies Baswedan">Anies Baswedan</option>
                <option value="Prabowo Subianto">Prabowo Subianto</option>
            </select>
            <input type="date" name="start">
            <input type="date" name="end">
            <input type="submit">
        </form>
    </body>
</html>