{% with judul="Predict" %}
    {% include "component/header.html" %}
{% endwith %}

  <body>
    {% include "component/navbar.html" %}

    <h2>Sentiment Analysis Pemilihan Calon Presiden 2024</h2>

    <p>Masukan datatest</p>

    <label><input type="radio" value="1" name="radio" checked>Input File</label>
    <label><input type="radio" value="2" name="radio">Input Text</label>
    
    <form action="/predict" id="form-file" method="post" enctype="multipart/form-data">
      <input type="file" name="file"/>
      <input type="submit"/>
    </form>

    <form action="/predictt" id="form-text" method="post">
      <textarea name="text" cols="30" rows="10" disabled></textarea>
      <input type="submit" disabled/>
    </form>

    {% if status == 'complete' and data['positiveWords'] and data['netralWords'] and data['negativeWords']%}
      <a href="/saveFilePredict">Download File Predict</a>

      <div class="content">
        <div style="position: relative; height:400px; width: 400px;">
          <canvas id="pieChart1"></canvas>
        </div>
        <div style="position: relative; height:400px; width: 400px;">
          <img src="{{ url_for('save_predwordcloud_image', name = 'Positive') }}" alt="WordCloud Image">
        </div>
        <div style="position: relative; height:400px; width: 400px;">
          <img src="{{ url_for('save_predwordcloud_image', name = 'Netral') }}" alt="WordCloud Image">
        </div>
        <div style="position: relative; height:400px; width: 400px;">
          <img src="{{ url_for('save_predwordcloud_image', name = 'Negative') }}" alt="WordCloud Image">
        </div>
      </div>
    {% elif status == 'complete' and data['result'] and data['processed_features'] %}
      {{ data['processed_features'][0], data['result'] }}
    {% endif %}
    
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          {{ message }}
        {% endfor %}
      {% endif %}
    {% endwith %}
      
    {% if status == 'complete' and data['positiveWords'] and data['netralWords'] and data['negativeWords'] %}
    <script>
        let data = JSON.parse({{ data| tojson | safe }})
    </script>
    {% endif %}
    
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/chartJs.js"></script>
    <script src="../static/js/predictScript.js"></script>
      
  </body>
</html>
