{% with judul="Predict" %}
    {% include "component/header.html" %}
{% endwith %}

  <body>
    {% include "component/navbar.html" %}

    <h2>Sentiment Analysis Pemilihan Calon Presiden 2024</h2>

    <p>Masukan datatest</p>

    <form action="/predict" method="post" enctype="multipart/form-data">
      <input type="file" name="file"/>
      <input type="submit"/>
    </form>

    {% if status == 'complete' %}
      <a href="/saveFilePredict">Download File Predict</a>
    {% endif %}

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          {{ message }}
        {% endfor %}
      {% endif %}
    {% endwith %}
  </body>
</html>
