{% with judul="Train" %}
    {% include "component/header.html" %}
{% endwith %}

  <body>
    {% include "component/navbar.html" %}

    <h2>Sentiment Analysis Pemilihan Calon Presiden 2024</h2>

    <p>Masukan data yang telah dilabeling</p>

    <form action="/train" method="post" enctype="multipart/form-data">
      <input type="file" name="file" />
      <input type="submit" />
    </form>
    
    {% if status == 'complete' %}
      <a href="/saveFileTest">Download File Test</a>
    {% endif %}
  </body>
</html>
