<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sentiment Analysis (Train Data)</title>
    <!-- <script src="../static/tailwind.config.js"></script>
    <link rel="stylesheet" href="../static/output/style.css"> -->
  </head>

  <body>
    <a href="/scrap">Scrap</a>
    <a href="/train">Train</a>

    <h2>Sentiment Analysis Pemilihan Calon Presiden 2024</h2>

    <p>Masukan data yang telah dilabeling</p>

    <form action="/train" method="post" enctype="multipart/form-data">
      <input type="file" name="file" />
      <input type="submit" />
    </form>

    {% with messages = get_flashed_messages() %} {% if messages %} {% for
    message in messages %} {{ message }} {% endfor %} {% endif %} {% endwith %}
    {% if pesan: %}
    <p>{{ pesan['name'] }}</p>
    <p>{{ pesan['start'] }}</p>
    <p>{{ pesan['end'] }}</p>
    {% endif %}
  </body>
</html>
